<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Links</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Meus Links</h1>
      <p>Técnico em Informática - Sistemas de Informação - Desing Gráfico</p>
    </header>

    <main class="button-container">
    
      <a href="#" class="button">LinkedIn</a>
      <a href="#" class="button">WhatsApp</a>
      <a href="#" class="button">E-mail</a>
      <a href="#" class="button">Facebook</a>
      <a href="#" class="button">Instagram</a>
    </main>

    <footer>
      <p>&copy; Jessika Rodrigues </p>
    </footer>
  </div>
</body>
</html>

