<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Jessika Rodrigues</title>
  <link rel="stylesheet" href="assets/style.css"> <!-- Ajuste o caminho conforme necessário -->
</head>
<body>
  <div class="container">
    <header>
      <div class="profile-picture">
        <img src="path/to/your/photo.jpg" alt=""> <!-- Substitua pelo caminho da sua foto -->
      </div>
      <h1>Jessika Rodrigues</h1>
      <p>Técnico em Informática - Sistemas de Informação - Design Gráfico</p>
    </header>

    <main class="button-container">
 <a href="www.linkedin.com/in/jessikacatharinajardimrodrigues" class="button">LinkedIn</a>
  <a href="wa.me/555599234484" class="button">WhatsApp</a>
  <a href="mailto:jessikacjrodrigues@gmail.com" class="button">e-mail</a> 
  <a href="https://www.behance.net/jessikajess" class="button">Portfolio</a>
  <a href="https://github.com/jesscatt" class="button">GitHub</a> 
  <a href="https://vs.co/igbpe2a4" class="button">VSCO</a>
  <a href="https://www.instagram.com/jessika.cjr?igsh=MW4wYWJsa2N0dnphZQ%3D%3D&utm_source=qr" class="button">Instagram</a>
  <a href="https://www.facebook.com/jessika.rodrigues.9421450/" class="button">Facebook</a>

  
    </main>
 
    <footer>
      <p>&copy; by rodrigues 2024</p>
    </footer>
  </div>
</body>
</html>


